<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjht.unified.data.manage.mapper.AlertSegmentMapper">
    
		<resultMap id="alertSegmentResultMap" type="com.zjht.unified.data.entity.AlertSegment">
        <result column="id" property="id"/>
        <result column="val_min" property="valMin"/>
        <result column="val_max" property="valMax"/>
        <result column="val_list" property="valList"/>
        <result column="alert_trigger" property="alertTrigger"/>
        <result column="real_range_id" property="realRangeId"/>
        <result column="alert_spec" property="alertSpec"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="original_id" property="originalId"/>
    </resultMap>
</mapper>