<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjht.unified.data.manage.mapper.ModbusPointSettingMapper">
    
		<resultMap id="modbusPointSettingResultMap" type="com.zjht.unified.data.entity.ModbusPointSetting">
        <result column="id" property="id"/>
        <result column="physical_address" property="physicalAddress"/>
        <result column="unit_offset" property="unitOffset"/>
        <result column="unit_type" property="unitType"/>
        <result column="point_offset" property="pointOffset"/>
        <result column="bit_offset" property="bitOffset"/>
        <result column="read_length" property="readLength"/>
        <result column="val_mode" property="valMode"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="original_id" property="originalId"/>
        <result column="bit_length" property="bitLength"/>
        <result column="ref_type" property="refType"/>
        <result column="endianness" property="endianness"/>
    </resultMap>
</mapper>