<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjht.unified.data.manage.mapper.MqSettingMapper">
    
		<resultMap id="mqSettingResultMap" type="com.zjht.unified.data.entity.MqSetting">
        <result column="id" property="id"/>
        <result column="type" property="type"/>
        <result column="address_list" property="addressList"/>
        <result column="group_id" property="groupId"/>
        <result column="topic" property="topic"/>
        <result column="api_key" property="apiKey"/>
        <result column="api_secret" property="apiSecret"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="original_id" property="originalId"/>
        <result column="colp_id" property="colpId"/>
    </resultMap>
</mapper>