<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjht.unified.data.manage.mapper.PointInfoMapper">
    
		<resultMap id="pointInfoResultMap" type="com.zjht.unified.data.entity.PointInfo">
        <result column="id" property="id"/>
        <result column="type" property="type"/>
        <result column="point_number" property="pointNumber"/>
        <result column="calculation_algorithm_formula" property="calculationAlgorithmFormula"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="original_id" property="originalId"/>
        <result column="json_locator" property="jsonLocator"/>
        <result column="realnum_range_id" property="realnumRangeId"/>
        <result column="location_range_id" property="locationRangeId"/>
        <result column="text_range_id" property="textRangeId"/>
        <result column="json_range_id" property="jsonRangeId"/>
        <result column="serving_domain" property="servingDomain"/>
        <result column="media_type" property="mediaType"/>
        <result column="stream_url" property="streamUrl"/>
        <result column="force_h264" property="forceH264"/>
        <result column="stream_bitrate" property="streamBitrate"/>
        <result column="dead_zone_upper" property="deadZoneUpper"/>
        <result column="dead_zone_lower" property="deadZoneLower"/>
        <result column="input" property="input"/>
        <result column="track_no" property="trackNo"/>
        <result column="base_unit" property="baseUnit"/>
        <result column="dict_id" property="dictId"/>
        <result column="modbus_point_setting_id" property="modbusPointSettingId"/>
        <result column="stream_range_id" property="streamRangeId"/>
        <result column="http_api_id" property="httpApiId"/>
        <result column="protocol" property="protocol"/>
        <result column="data_append" property="dataAppend"/>
    </resultMap>
</mapper>