<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjht.unified.data.manage.mapper.ResScriptMapper">
    
		<resultMap id="resScriptResultMap" type="com.zjht.unified.data.entity.ResScript">
        <result column="id" property="id"/>
        <result column="install_script" property="installScript"/>
        <result column="uninstall_script" property="uninstallScript"/>
        <result column="start_script" property="startScript"/>
        <result column="stop_script" property="stopScript"/>
        <result column="restart_script" property="restartScript"/>
        <result column="driver_cluster_type" property="driverClusterType"/>
        <result column="bash_params" property="bashParams"/>
        <result column="owner_id" property="ownerId"/>
        <result column="owner_type" property="ownerType"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="status" property="status"/>
        <result column="original_id" property="originalId"/>
        <result column="exec_type" property="execType"/>
        <result column="sort_order" property="sortOrder"/>
    </resultMap>
</mapper>