<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjht.unified.data.manage.mapper.SdpGeneralMapper">
    
		<resultMap id="sdpGeneralResultMap" type="com.zjht.unified.data.entity.SdpGeneral">
        <result column="id" property="id"/>
        <result column="colp_id" property="colpId"/>
        <result column="parent_id" property="parentId"/>
        <result column="device_info_id" property="deviceInfoId"/>
        <result column="point_info_id" property="pointInfoId"/>
        <result column="io_setting_id" property="ioSettingId"/>
        <result column="template_id" property="templateId"/>
        <result column="persist_plan_id" property="persistPlanId"/>
        <result column="plan_id" property="planId"/>
        <result column="category" property="category"/>
        <result column="name" property="name"/>
        <result column="zh_abbr" property="zhAbbr"/>
        <result column="en_abbr" property="enAbbr"/>
        <result column="remark" property="remark"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="original_id" property="originalId"/>
        <result column="system_info_id" property="systemInfoId"/>
        <result column="sdp_template_info_id" property="sdpTemplateInfoId"/>
        <result column="referencable" property="referencable"/>
        <result column="visibility" property="visibility"/>
        <result column="xy_sys" property="xySys"/>
        <result column="x" property="x"/>
        <result column="y" property="y"/>
        <result column="z" property="z"/>
        <result column="ed_template_id" property="edTemplateId"/>
        <result column="persistable" property="persistable"/>
        <result column="icon_dict_id" property="iconDictId"/>
        <result column="refer_to" property="referTo"/>
        <result column="template_type" property="templateType"/>
        <result column="initial_x" property="initialX"/>
        <result column="initial_y" property="initialY"/>
        <result column="initial_z" property="initialZ"/>
        <result column="display_x" property="displayX"/>
        <result column="display_y" property="displayY"/>
        <result column="display_z" property="displayZ"/>
        <result column="display_xy_sys" property="displayXySys"/>
    </resultMap>
</mapper>